name: Deploy Release Documentation

on:
  release:
    types: [ published ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy_branch:
    runs-on: ubuntu-latest

    concurrency:
      group: docs-deploy-to-branch
      cancel-in-progress: false

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for mike

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt'

      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: Retrieve job configuration
        id: configure
        run: |
          DOCS_REVISION=$(git ls-remote origin refs/heads/gh-pages | awk '{print $1}')
          echo "docs_revision=$DOCS_REVISION" >> $GITHUB_OUTPUT
          PROJECT_VERSION=$(sbt -Dsbt.log.noformat=true "print version" | tail -n 1 | xargs)
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Cache MkDocs build
        uses: actions/cache@v4
        with:
          path: .cache
          key: mkdocs-${{ steps.configure.outputs.docs_revision }}
          restore-keys: |
            mkdocs-

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('requirements-docs.txt') }}
          restore-keys: |
            pip-

      - name: Install dependencies
        run: pip install -r requirements-docs.txt

      - name: Configure Git
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      # Deploy for release
      - name: Deploy release documentation
        run: |
          RELEASE_VERSION="${{ github.event.release.tag_name }}"
          PROJECT_VERSION="${{ steps.configure.outputs.project_version }}"
          if [[ "$RELEASE_VERSION" == "v$PROJECT_VERSION" ]]; then
            mike deploy --push --update-aliases "${PROJECT_VERSION}"
          else
            echo "Wrong tag ${RELEASE_VERSION} for project version ${PROJECT_VERSION}"
            exit 1
          fi

  upload_artifacts:
    needs: deploy_branch
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: 'gh-pages'
          fetch-depth: 1

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages-${{ github.run_id }}
          path: '.'

  deploy_pages:
    needs: upload_artifacts
    runs-on: ubuntu-latest

    concurrency:
      group: docs-deploy-to-pages
      cancel-in-progress: false

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write       # allow deploying Pages
      id-token: write    # required for OIDC auth

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages-${{ github.run_id }}
