name: Deploy Pages

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Configure environment
        id: configure
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Load caches
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ steps.configure.outputs.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-

      - name: Deploy to GitHub Pages
        run: |
          mkdocs gh-deploy --force