name: Deploy GitHub Pages

#on:
#  push:
#    branches:
#      - gh-pages

on:
  workflow_run:
    workflows: ["Deploy Documentation"]  # Match the name from your docs workflow
    types:
      - completed
    branches:
      - gh-pages

concurrency:
  group: docs-build-${{ github.sha }}
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy_to_pages:
    environment:
      name: spark-jms-connector
      url: https://dyaraev.github.io/spark-jms-connector/
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: gh-pages

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages-${{ github.run_id }}
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages-${{ github.run_id }}
